h1.cover-heading {
  font-size: 5vw; /* Adjust this value for appropriate scaling */
}

p.lead {
  font-size: 2vw; /* Adjust this value for appropriate scaling */
}


.typing {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #fff; /* Typing cursor */
  animation: blink-caret 0.75s step-end infinite;
}

.fade-in-button {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.cursor {
  display: inline-block;
  width: 10px;
  background-color: #fff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.visible {
  opacity: 1 !important;
}

.no-cursor {
  border-right: none;
}