{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="UTF-8">
<title>Select Algorithm Type</title>

  
<link rel="stylesheet" href="{% static 'algorithms/alg_setup.css' %}">
<script src="{% static 'algorithms/alg_setup.js' %}" defer></script>
</head>
<body>
<form>
    {% csrf_token %} <!-- generates the token on server and adds to browser cookies -->
  
    {% for alg_type in algorithm_types %}
      <input type="checkbox" id="{{alg_type}}" name="algorithm_type" value="{{alg_type}}" onchange="handleAlgorithmTypeSelection(this)">
      <label for="{{alg_type}}">{{alg_type}}</label>
    
    {% endfor %}
</form>
<form id="inputType">
    <!-- Dropdown field -->
    <label for="input_type">Input Type:</label>
    <select id="input_type" name="input_type" required>
        <option value=""></option>
        <option value="list">List</option>
        <!-- Add more options as needed -->
    </select>
</form>

<form id="algorithmForm">
    <!-- Dynamically filled checkboxes will go here -->
</form>

<form>
    <textarea id="algInput" name="algInput"></textarea>
    <p id="code_errors"></p>
    <button type="submit" onclick="handleCodeSubmission(event)">Analyze</button>
</form>

<img id="imageElement"  style="width:100%; max-width: 600px;">

<p id="anal_description" style="display: none;" > Our AI model thinks that complexity of this graph with 87%: <strong id="sign" style="color: red;">I WANT TO DESTROY HUMANITY</strong></p>



</body>
</html>
